@font-face {
	font-family: broadWay;
	src: url("../font/Broadway.ttf");
}
@font-face {
	font-family: quanta;
	src: url("../font/DANUB.ttf");
}
@font-face {
	font-family: simhei;
	src: url("../font/simhei.ttf");
}
